<section class="section">
  <form class="contact-form" [formGroup]="contactForm" (ngSubmit)="onSubmit()">
    <mat-form-field >
      <mat-label>Name</mat-label>
      <input matInput placeholder="Name" formControlName="name" id="name">
    </mat-form-field>
    <mat-form-field >
      <mat-label>Email</mat-label>
      <input matInput type="email" placeholder="Email" formControlName="email" id="email"
        pattern="[\-a-zA-Z0-9~!$%^&amp;*_=+'?\.]+@[a-zA-Z0-9]+.[a-zA-Z0-9]+">
    </mat-form-field>
    <mat-form-field >
      <mat-label>Message</mat-label>
      <textarea matInput placeholder="Message" formControlName="message" id="message" rows="3"></textarea>
    </mat-form-field>
    <button mat-flat-button type="submit" [disabled]="contactForm.invalid">Submit</button>
    </form>
</section>